--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12
-- Dumped by pg_dump version 15.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: depoloko
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO depoloko;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: action_plan; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.action_plan (
    id integer NOT NULL,
    nama_pemeriksa character varying(100),
    tanggal date,
    nomor_lokomotif character varying(50),
    komponen character varying(100),
    aktivitas text,
    foto_path character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    detail_aktivitas character varying(255),
    target character varying,
    pic character varying(64)
);


ALTER TABLE public.action_plan OWNER TO depoloko;

--
-- Name: action_plan_id_seq; Type: SEQUENCE; Schema: public; Owner: depoloko
--

CREATE SEQUENCE public.action_plan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.action_plan_id_seq OWNER TO depoloko;

--
-- Name: action_plan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: depoloko
--

ALTER SEQUENCE public.action_plan_id_seq OWNED BY public.action_plan.id;


--
-- Name: component_usage; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.component_usage (
    id integer NOT NULL,
    invoice_date date,
    invoice text,
    skb text,
    period text,
    depo_location text,
    part_no text,
    description text,
    qty integer,
    so_date date,
    month text,
    year integer,
    maintenance_type text,
    seri_lokomotif text,
    part_using text,
    part_type text,
    locomotive_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.component_usage OWNER TO depoloko;

--
-- Name: component_usage_id_seq; Type: SEQUENCE; Schema: public; Owner: depoloko
--

CREATE SEQUENCE public.component_usage_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.component_usage_id_seq OWNER TO depoloko;

--
-- Name: component_usage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: depoloko
--

ALTER SEQUENCE public.component_usage_id_seq OWNED BY public.component_usage.id;


--
-- Name: fasilitas; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.fasilitas (
    id integer NOT NULL,
    nomor_aset character varying(100) NOT NULL,
    nama_fasilitas character varying(150),
    kategori character varying(100),
    jumlah_satuan integer DEFAULT 0,
    baik integer DEFAULT 0,
    pantauan integer DEFAULT 0,
    rusak integer DEFAULT 0,
    spesifikasi text,
    merk character varying(100),
    tahun_pengadaan integer,
    tahun_mulai_dinas integer,
    tanggal_perawatan date,
    kategori_standardisasi character varying(150),
    tanggal_sertifikasi date,
    lokasi_penyimpanan character varying(150),
    umur_komponen integer,
    foto_path character varying(255),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.fasilitas OWNER TO depoloko;

--
-- Name: fasilitas_id_seq; Type: SEQUENCE; Schema: public; Owner: depoloko
--

CREATE SEQUENCE public.fasilitas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.fasilitas_id_seq OWNER TO depoloko;

--
-- Name: fasilitas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: depoloko
--

ALTER SEQUENCE public.fasilitas_id_seq OWNED BY public.fasilitas.id;


--
-- Name: fault_history; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.fault_history (
    id integer NOT NULL,
    fault_type character varying(100),
    fault_code integer,
    fault_description text,
    priority_level integer,
    priority_description character varying(100),
    counter integer,
    delta integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    date_occurred date,
    locomotive_number character varying(50)
);


ALTER TABLE public.fault_history OWNER TO depoloko;

--
-- Name: fault_history_id_seq; Type: SEQUENCE; Schema: public; Owner: depoloko
--

CREATE SEQUENCE public.fault_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.fault_history_id_seq OWNER TO depoloko;

--
-- Name: fault_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: depoloko
--

ALTER SEQUENCE public.fault_history_id_seq OWNED BY public.fault_history.id;


--
-- Name: locomotive_performance; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.locomotive_performance (
    id integer NOT NULL,
    locomotive_id integer NOT NULL,
    apcclb numeric,
    apimrb numeric,
    opturps numeric,
    wpegilp numeric,
    wpegotp numeric,
    eengrpm numeric,
    tpu_rpm numeric,
    egoiltf numeric,
    engtmpf numeric,
    awt numeric,
    atimrbf numeric,
    ca_v numeric,
    recorded_at timestamp without time zone
);


ALTER TABLE public.locomotive_performance OWNER TO depoloko;

--
-- Name: locomotive_performance_id_seq; Type: SEQUENCE; Schema: public; Owner: depoloko
--

CREATE SEQUENCE public.locomotive_performance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.locomotive_performance_id_seq OWNER TO depoloko;

--
-- Name: locomotive_performance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: depoloko
--

ALTER SEQUENCE public.locomotive_performance_id_seq OWNED BY public.locomotive_performance.id;


--
-- Name: locomotives; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.locomotives (
    id integer NOT NULL,
    locomotive_number character varying(20) NOT NULL,
    locomotive_series character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.locomotives OWNER TO depoloko;

--
-- Name: locomotives_id_seq; Type: SEQUENCE; Schema: public; Owner: depoloko
--

CREATE SEQUENCE public.locomotives_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.locomotives_id_seq OWNER TO depoloko;

--
-- Name: locomotives_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: depoloko
--

ALTER SEQUENCE public.locomotives_id_seq OWNED BY public.locomotives.id;


--
-- Name: manpower; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.manpower (
    nipp character varying(10) NOT NULL,
    nama character varying(100),
    jabatan character varying(100),
    pendidikan character varying(50),
    usia integer,
    tmt_pensiun date,
    counter_pensiun integer,
    kategori_pensiun character varying(20),
    regu character varying(10),
    tempat_lahir character varying(50),
    tanggal_lahir date,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.manpower OWNER TO depoloko;

--
-- Name: manpower_diklat; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.manpower_diklat (
    id integer NOT NULL,
    nipp character varying(10),
    dto_prs date,
    dto_pms date,
    t2_prs date,
    t2_pms date,
    t3_prs date,
    t3_pms date,
    t4_mps date,
    smdp date,
    jmdp date
);


ALTER TABLE public.manpower_diklat OWNER TO depoloko;

--
-- Name: manpower_diklat_id_seq; Type: SEQUENCE; Schema: public; Owner: depoloko
--

CREATE SEQUENCE public.manpower_diklat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manpower_diklat_id_seq OWNER TO depoloko;

--
-- Name: manpower_diklat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: depoloko
--

ALTER SEQUENCE public.manpower_diklat_id_seq OWNED BY public.manpower_diklat.id;


--
-- Name: manpower_dto; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.manpower_dto (
    id integer NOT NULL,
    nipp character varying(10),
    dto_type character varying(50),
    tanggal date
);


ALTER TABLE public.manpower_dto OWNER TO depoloko;

--
-- Name: manpower_dto_id_seq; Type: SEQUENCE; Schema: public; Owner: depoloko
--

CREATE SEQUENCE public.manpower_dto_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manpower_dto_id_seq OWNER TO depoloko;

--
-- Name: manpower_dto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: depoloko
--

ALTER SEQUENCE public.manpower_dto_id_seq OWNED BY public.manpower_dto.id;


--
-- Name: manpower_sertifikasi; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.manpower_sertifikasi (
    id integer NOT NULL,
    nipp character varying(10),
    sertifikasi character varying(50),
    tanggal_terbit date,
    nomor_sertifikat character varying(50),
    berlaku_sampai date,
    masa_berlaku character varying(50),
    status character varying(10)
);


ALTER TABLE public.manpower_sertifikasi OWNER TO depoloko;

--
-- Name: manpower_sertifikasi_id_seq; Type: SEQUENCE; Schema: public; Owner: depoloko
--

CREATE SEQUENCE public.manpower_sertifikasi_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.manpower_sertifikasi_id_seq OWNER TO depoloko;

--
-- Name: manpower_sertifikasi_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: depoloko
--

ALTER SEQUENCE public.manpower_sertifikasi_id_seq OWNED BY public.manpower_sertifikasi.id;


--
-- Name: pantauan_roda; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.pantauan_roda (
    id integer NOT NULL,
    tanggal_inspeksi date,
    nomor_lokomotif character varying(50),
    diameter_min numeric(6,2),
    flens_thickness_min numeric(6,2),
    flens_height_min numeric(6,2),
    status character varying(50),
    estimate_lifetime integer,
    inspector_name character varying(100),
    keterangan text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    estimate_lifetime_thickness double precision,
    tanggal_keausan_thickness date
);


ALTER TABLE public.pantauan_roda OWNER TO depoloko;

--
-- Name: pantauan_roda_detail; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.pantauan_roda_detail (
    id integer NOT NULL,
    pantauan_roda_id integer,
    posisi character varying(50),
    diameter numeric(6,2),
    thickness numeric(6,2),
    height numeric(6,2),
    kondisi character varying(50),
    keterangan text
);


ALTER TABLE public.pantauan_roda_detail OWNER TO depoloko;

--
-- Name: pantauan_roda_detail_id_seq; Type: SEQUENCE; Schema: public; Owner: depoloko
--

CREATE SEQUENCE public.pantauan_roda_detail_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pantauan_roda_detail_id_seq OWNER TO depoloko;

--
-- Name: pantauan_roda_detail_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: depoloko
--

ALTER SEQUENCE public.pantauan_roda_detail_id_seq OWNED BY public.pantauan_roda_detail.id;


--
-- Name: pantauan_roda_id_seq; Type: SEQUENCE; Schema: public; Owner: depoloko
--

CREATE SEQUENCE public.pantauan_roda_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pantauan_roda_id_seq OWNER TO depoloko;

--
-- Name: pantauan_roda_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: depoloko
--

ALTER SEQUENCE public.pantauan_roda_id_seq OWNED BY public.pantauan_roda.id;


--
-- Name: sertifikat_sio; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.sertifikat_sio (
    id integer NOT NULL,
    nipp character varying(50),
    nama character varying(100),
    jabatan character varying(300),
    kedudukan character varying(100),
    jenis_sertifikat character varying(100),
    penerbit character varying(100),
    nomor_sertifikat character varying(100),
    tahun_perolehan integer,
    masa_aktif character varying(50),
    link_sertifikat text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.sertifikat_sio OWNER TO depoloko;

--
-- Name: sertifikat_sio_id_seq; Type: SEQUENCE; Schema: public; Owner: depoloko
--

CREATE SEQUENCE public.sertifikat_sio_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sertifikat_sio_id_seq OWNER TO depoloko;

--
-- Name: sertifikat_sio_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: depoloko
--

ALTER SEQUENCE public.sertifikat_sio_id_seq OWNED BY public.sertifikat_sio.id;


--
-- Name: task_responses; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.task_responses (
    id integer NOT NULL,
    task_id integer,
    user_id integer,
    nama character varying(255),
    nipp character varying(50),
    status character varying(255),
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.task_responses OWNER TO depoloko;

--
-- Name: task_responses_id_seq; Type: SEQUENCE; Schema: public; Owner: depoloko
--

CREATE SEQUENCE public.task_responses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.task_responses_id_seq OWNER TO depoloko;

--
-- Name: task_responses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: depoloko
--

ALTER SEQUENCE public.task_responses_id_seq OWNED BY public.task_responses.id;


--
-- Name: tasks; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.tasks (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    type character varying(20) NOT NULL,
    deadline date,
    created_by integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT tasks_type_check CHECK (((type)::text = ANY ((ARRAY['checklist'::character varying, 'nilai'::character varying])::text[])))
);


ALTER TABLE public.tasks OWNER TO depoloko;

--
-- Name: tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: depoloko
--

CREATE SEQUENCE public.tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tasks_id_seq OWNER TO depoloko;

--
-- Name: tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: depoloko
--

ALTER SEQUENCE public.tasks_id_seq OWNED BY public.tasks.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: depoloko
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    nipp character varying(50),
    password_hash character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    nama_lengkap character varying(100),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO depoloko;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: depoloko
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO depoloko;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: depoloko
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: action_plan id; Type: DEFAULT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.action_plan ALTER COLUMN id SET DEFAULT nextval('public.action_plan_id_seq'::regclass);


--
-- Name: component_usage id; Type: DEFAULT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.component_usage ALTER COLUMN id SET DEFAULT nextval('public.component_usage_id_seq'::regclass);


--
-- Name: fasilitas id; Type: DEFAULT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.fasilitas ALTER COLUMN id SET DEFAULT nextval('public.fasilitas_id_seq'::regclass);


--
-- Name: fault_history id; Type: DEFAULT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.fault_history ALTER COLUMN id SET DEFAULT nextval('public.fault_history_id_seq'::regclass);


--
-- Name: locomotive_performance id; Type: DEFAULT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.locomotive_performance ALTER COLUMN id SET DEFAULT nextval('public.locomotive_performance_id_seq'::regclass);


--
-- Name: locomotives id; Type: DEFAULT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.locomotives ALTER COLUMN id SET DEFAULT nextval('public.locomotives_id_seq'::regclass);


--
-- Name: manpower_diklat id; Type: DEFAULT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.manpower_diklat ALTER COLUMN id SET DEFAULT nextval('public.manpower_diklat_id_seq'::regclass);


--
-- Name: manpower_dto id; Type: DEFAULT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.manpower_dto ALTER COLUMN id SET DEFAULT nextval('public.manpower_dto_id_seq'::regclass);


--
-- Name: manpower_sertifikasi id; Type: DEFAULT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.manpower_sertifikasi ALTER COLUMN id SET DEFAULT nextval('public.manpower_sertifikasi_id_seq'::regclass);


--
-- Name: pantauan_roda id; Type: DEFAULT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.pantauan_roda ALTER COLUMN id SET DEFAULT nextval('public.pantauan_roda_id_seq'::regclass);


--
-- Name: pantauan_roda_detail id; Type: DEFAULT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.pantauan_roda_detail ALTER COLUMN id SET DEFAULT nextval('public.pantauan_roda_detail_id_seq'::regclass);


--
-- Name: sertifikat_sio id; Type: DEFAULT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.sertifikat_sio ALTER COLUMN id SET DEFAULT nextval('public.sertifikat_sio_id_seq'::regclass);


--
-- Name: task_responses id; Type: DEFAULT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.task_responses ALTER COLUMN id SET DEFAULT nextval('public.task_responses_id_seq'::regclass);


--
-- Name: tasks id; Type: DEFAULT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.tasks ALTER COLUMN id SET DEFAULT nextval('public.tasks_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: action_plan; Type: TABLE DATA; Schema: public; Owner: depoloko
--



--
-- Data for Name: component_usage; Type: TABLE DATA; Schema: public; Owner: depoloko
--

COPY public.component_usage (id, invoice_date, invoice, skb, period, depo_location, part_no, description, qty, so_date, month, year, maintenance_type, seri_lokomotif, part_using, part_type, locomotive_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: fasilitas; Type: TABLE DATA; Schema: public; Owner: depoloko
--



--
-- Data for Name: fault_history; Type: TABLE DATA; Schema: public; Owner: depoloko
--



--
-- Data for Name: locomotive_performance; Type: TABLE DATA; Schema: public; Owner: depoloko
--



--
-- Data for Name: locomotives; Type: TABLE DATA; Schema: public; Owner: depoloko
--



--
-- Data for Name: manpower; Type: TABLE DATA; Schema: public; Owner: depoloko
--



--
-- Data for Name: manpower_diklat; Type: TABLE DATA; Schema: public; Owner: depoloko
--

COPY public.manpower_diklat (id, nipp, dto_prs, dto_pms, t2_prs, t2_pms, t3_prs, t3_pms, t4_mps, smdp, jmdp) FROM stdin;
2	1234	2025-06-30	\N	2025-06-30	\N	\N	2025-07-06	\N	2025-07-23	2025-07-28
3	112233	2025-06-30	2025-07-01	2025-06-30	2025-07-01	2025-07-02	2025-07-03	2025-07-04	2025-07-05	2025-07-06
4	49737	2008-05-05	\N	2008-05-05	\N	2014-10-25	\N	\N	2021-03-07	\N
\.


--
-- Data for Name: manpower_dto; Type: TABLE DATA; Schema: public; Owner: depoloko
--

COPY public.manpower_dto (id, nipp, dto_type, tanggal) FROM stdin;
\.


--
-- Data for Name: manpower_sertifikasi; Type: TABLE DATA; Schema: public; Owner: depoloko
--

COPY public.manpower_sertifikasi (id, nipp, sertifikasi, tanggal_terbit, nomor_sertifikat, berlaku_sampai, masa_berlaku, status) FROM stdin;
2	1234	\N	2025-06-30	wdqedw12efd31	\N	\N	ok
3	112233	\N	2025-07-29	SRI-DQH22-PRS	\N	\N	ths
4	49737	PMS PELAKSANA	2024-01-01	PMS.090685.01283	2026-01-01	\N	OK
\.


--
-- Data for Name: pantauan_roda; Type: TABLE DATA; Schema: public; Owner: depoloko
--



--
-- Data for Name: pantauan_roda_detail; Type: TABLE DATA; Schema: public; Owner: depoloko
--



--
-- Data for Name: sertifikat_sio; Type: TABLE DATA; Schema: public; Owner: depoloko
--



--
-- Data for Name: task_responses; Type: TABLE DATA; Schema: public; Owner: depoloko
--

COPY public.task_responses (id, task_id, user_id, nama, nipp, status, updated_at) FROM stdin;
1	1	6	Sutomo	51881	Diameter R1 KIRI : 1015	2025-08-08 11:17:29.851544
2	2	8	Hizkia Siahaan	13761	Sudah	2025-08-08 13:38:10.678366
3	2	6	Kiko	12532	Sudah	2025-09-18 11:34:35.806152
4	1	5	Daweng a.k.a Aziz	51251	Diameter Kiri Depan 1029	2025-09-19 21:19:35.439465
5	2	5	Imatt	21361	Sudah	2025-09-19 21:23:49.953848
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: depoloko
--

COPY public.tasks (id, title, description, type, deadline, created_by, created_at) FROM stdin;
1	Pengecekan Roda CC205 10 10	Saya butuh data diamter roda 1 kiri depan tolong cek!	nilai	2025-08-11	5	2025-08-08 11:16:07.09755
2	Cek Lokomotif	Apakah locomotive CC205 10 12 sudah berangkat?	checklist	2025-08-09	5	2025-08-08 11:49:45.774726
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: depoloko
--

COPY public.users (id, username, email, nipp, password_hash, role, nama_lengkap, is_active, created_at, updated_at) FROM stdin;
5	DepoLokoTNK2	depolokotnk@gmail.com	51827	$2b$10$LEU8780AGao2Lqn2d5ebdOpdDjyqxHPoBr1e8KhHHEgrUW8IwwyW.	admin	Admin Dua	t	2025-07-25 17:20:13.755732	2025-07-25 17:20:13.755732
\.


--
-- Name: action_plan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: depoloko
--

SELECT pg_catalog.setval('public.action_plan_id_seq', 14, true);


--
-- Name: component_usage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: depoloko
--

SELECT pg_catalog.setval('public.component_usage_id_seq', 1, false);


--
-- Name: fasilitas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: depoloko
--

SELECT pg_catalog.setval('public.fasilitas_id_seq', 37, true);


--
-- Name: fault_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: depoloko
--

SELECT pg_catalog.setval('public.fault_history_id_seq', 20, true);


--
-- Name: locomotive_performance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: depoloko
--

SELECT pg_catalog.setval('public.locomotive_performance_id_seq', 24, true);


--
-- Name: locomotives_id_seq; Type: SEQUENCE SET; Schema: public; Owner: depoloko
--

SELECT pg_catalog.setval('public.locomotives_id_seq', 17, true);


--
-- Name: manpower_diklat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: depoloko
--

SELECT pg_catalog.setval('public.manpower_diklat_id_seq', 4, true);


--
-- Name: manpower_dto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: depoloko
--

SELECT pg_catalog.setval('public.manpower_dto_id_seq', 1, false);


--
-- Name: manpower_sertifikasi_id_seq; Type: SEQUENCE SET; Schema: public; Owner: depoloko
--

SELECT pg_catalog.setval('public.manpower_sertifikasi_id_seq', 4, true);


--
-- Name: pantauan_roda_detail_id_seq; Type: SEQUENCE SET; Schema: public; Owner: depoloko
--

SELECT pg_catalog.setval('public.pantauan_roda_detail_id_seq', 84, true);


--
-- Name: pantauan_roda_id_seq; Type: SEQUENCE SET; Schema: public; Owner: depoloko
--

SELECT pg_catalog.setval('public.pantauan_roda_id_seq', 11, true);


--
-- Name: sertifikat_sio_id_seq; Type: SEQUENCE SET; Schema: public; Owner: depoloko
--

SELECT pg_catalog.setval('public.sertifikat_sio_id_seq', 7, true);


--
-- Name: task_responses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: depoloko
--

SELECT pg_catalog.setval('public.task_responses_id_seq', 6, true);


--
-- Name: tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: depoloko
--

SELECT pg_catalog.setval('public.tasks_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: depoloko
--

SELECT pg_catalog.setval('public.users_id_seq', 8, true);


--
-- Name: action_plan action_plan_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.action_plan
    ADD CONSTRAINT action_plan_pkey PRIMARY KEY (id);


--
-- Name: component_usage component_usage_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.component_usage
    ADD CONSTRAINT component_usage_pkey PRIMARY KEY (id);


--
-- Name: fasilitas fasilitas_nomor_aset_key; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.fasilitas
    ADD CONSTRAINT fasilitas_nomor_aset_key UNIQUE (nomor_aset);


--
-- Name: fasilitas fasilitas_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.fasilitas
    ADD CONSTRAINT fasilitas_pkey PRIMARY KEY (id);


--
-- Name: fault_history fault_history_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.fault_history
    ADD CONSTRAINT fault_history_pkey PRIMARY KEY (id);


--
-- Name: locomotive_performance locomotive_performance_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.locomotive_performance
    ADD CONSTRAINT locomotive_performance_pkey PRIMARY KEY (id);


--
-- Name: locomotives locomotives_locomotive_number_key; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.locomotives
    ADD CONSTRAINT locomotives_locomotive_number_key UNIQUE (locomotive_number);


--
-- Name: locomotives locomotives_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.locomotives
    ADD CONSTRAINT locomotives_pkey PRIMARY KEY (id);


--
-- Name: manpower_diklat manpower_diklat_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.manpower_diklat
    ADD CONSTRAINT manpower_diklat_pkey PRIMARY KEY (id);


--
-- Name: manpower_dto manpower_dto_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.manpower_dto
    ADD CONSTRAINT manpower_dto_pkey PRIMARY KEY (id);


--
-- Name: manpower manpower_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.manpower
    ADD CONSTRAINT manpower_pkey PRIMARY KEY (nipp);


--
-- Name: manpower_sertifikasi manpower_sertifikasi_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.manpower_sertifikasi
    ADD CONSTRAINT manpower_sertifikasi_pkey PRIMARY KEY (id);


--
-- Name: pantauan_roda_detail pantauan_roda_detail_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.pantauan_roda_detail
    ADD CONSTRAINT pantauan_roda_detail_pkey PRIMARY KEY (id);


--
-- Name: pantauan_roda pantauan_roda_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.pantauan_roda
    ADD CONSTRAINT pantauan_roda_pkey PRIMARY KEY (id);


--
-- Name: sertifikat_sio sertifikat_sio_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.sertifikat_sio
    ADD CONSTRAINT sertifikat_sio_pkey PRIMARY KEY (id);


--
-- Name: task_responses task_responses_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.task_responses
    ADD CONSTRAINT task_responses_pkey PRIMARY KEY (id);


--
-- Name: task_responses task_responses_task_id_user_id_key; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.task_responses
    ADD CONSTRAINT task_responses_task_id_user_id_key UNIQUE (task_id, user_id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_fault_history_date_occurred; Type: INDEX; Schema: public; Owner: depoloko
--

CREATE INDEX idx_fault_history_date_occurred ON public.fault_history USING btree (date_occurred);


--
-- Name: idx_fault_history_fault_code; Type: INDEX; Schema: public; Owner: depoloko
--

CREATE INDEX idx_fault_history_fault_code ON public.fault_history USING btree (fault_code);


--
-- Name: idx_fault_history_fault_type; Type: INDEX; Schema: public; Owner: depoloko
--

CREATE INDEX idx_fault_history_fault_type ON public.fault_history USING btree (fault_type);


--
-- Name: idx_fault_history_locomotive_date; Type: INDEX; Schema: public; Owner: depoloko
--

CREATE INDEX idx_fault_history_locomotive_date ON public.fault_history USING btree (locomotive_number, date_occurred);


--
-- Name: idx_fault_history_locomotive_number; Type: INDEX; Schema: public; Owner: depoloko
--

CREATE INDEX idx_fault_history_locomotive_number ON public.fault_history USING btree (locomotive_number);


--
-- Name: idx_fault_history_priority; Type: INDEX; Schema: public; Owner: depoloko
--

CREATE INDEX idx_fault_history_priority ON public.fault_history USING btree (priority_level);


--
-- Name: idx_locomotives_number; Type: INDEX; Schema: public; Owner: depoloko
--

CREATE INDEX idx_locomotives_number ON public.locomotives USING btree (locomotive_number);


--
-- Name: idx_locomotives_series; Type: INDEX; Schema: public; Owner: depoloko
--

CREATE INDEX idx_locomotives_series ON public.locomotives USING btree (locomotive_series);


--
-- Name: idx_performance_locomotive_id; Type: INDEX; Schema: public; Owner: depoloko
--

CREATE INDEX idx_performance_locomotive_id ON public.locomotive_performance USING btree (locomotive_id);


--
-- Name: idx_task_responses_task_id; Type: INDEX; Schema: public; Owner: depoloko
--

CREATE INDEX idx_task_responses_task_id ON public.task_responses USING btree (task_id);


--
-- Name: idx_task_responses_user_id; Type: INDEX; Schema: public; Owner: depoloko
--

CREATE INDEX idx_task_responses_user_id ON public.task_responses USING btree (user_id);


--
-- Name: idx_tasks_created_by; Type: INDEX; Schema: public; Owner: depoloko
--

CREATE INDEX idx_tasks_created_by ON public.tasks USING btree (created_by);


--
-- Name: idx_tasks_type; Type: INDEX; Schema: public; Owner: depoloko
--

CREATE INDEX idx_tasks_type ON public.tasks USING btree (type);


--
-- Name: fault_history update_fault_history_updated_at; Type: TRIGGER; Schema: public; Owner: depoloko
--

CREATE TRIGGER update_fault_history_updated_at BEFORE UPDATE ON public.fault_history FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: component_usage fk_component_usage_locomotive; Type: FK CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.component_usage
    ADD CONSTRAINT fk_component_usage_locomotive FOREIGN KEY (locomotive_id) REFERENCES public.locomotives(id) ON DELETE SET NULL;


--
-- Name: locomotive_performance locomotive_performance_locomotive_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.locomotive_performance
    ADD CONSTRAINT locomotive_performance_locomotive_id_fkey FOREIGN KEY (locomotive_id) REFERENCES public.locomotives(id) ON DELETE CASCADE;


--
-- Name: manpower_diklat manpower_diklat_nipp_fkey; Type: FK CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.manpower_diklat
    ADD CONSTRAINT manpower_diklat_nipp_fkey FOREIGN KEY (nipp) REFERENCES public.manpower(nipp);


--
-- Name: manpower_dto manpower_dto_nipp_fkey; Type: FK CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.manpower_dto
    ADD CONSTRAINT manpower_dto_nipp_fkey FOREIGN KEY (nipp) REFERENCES public.manpower(nipp);


--
-- Name: manpower_sertifikasi manpower_sertifikasi_nipp_fkey; Type: FK CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.manpower_sertifikasi
    ADD CONSTRAINT manpower_sertifikasi_nipp_fkey FOREIGN KEY (nipp) REFERENCES public.manpower(nipp);


--
-- Name: pantauan_roda_detail pantauan_roda_detail_pantauan_roda_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.pantauan_roda_detail
    ADD CONSTRAINT pantauan_roda_detail_pantauan_roda_id_fkey FOREIGN KEY (pantauan_roda_id) REFERENCES public.pantauan_roda(id) ON DELETE CASCADE;


--
-- Name: task_responses task_responses_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.task_responses
    ADD CONSTRAINT task_responses_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON DELETE CASCADE;


--
-- Name: tasks tasks_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: depoloko
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: depoloko
--

ALTER DEFAULT PRIVILEGES FOR ROLE depoloko IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO depoloko;


--
-- PostgreSQL database dump complete
--

